@use '~/styles/style.scss' as *;
@use '~/styles/breakpoints.module.scss' as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: $theme-color-1;

  @media screen and (max-height: 650px){
    padding-bottom: 0;
  }
}

.container__categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;

  @media screen and (orientation: landscape) {
    flex-direction: row;
    gap: 10vh;
  } 

  @media screen and (max-height: 650px){
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.container__categories__category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 120px;
  max-width: 120px;
}

.container__categories__category__title {
  color: $sidebar-text-color;
  font-size: 20px;
}

.container__categories__category__skills {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container__categories__category__skills__skill__icon * {
  fill: $sidebar-text-color;
}

.container__categories__category__skills__skill__text {
  color: $sidebar-text-color;
  font-size: 16px;  
  display: flex;
  align-items: center;
  gap: 10px;
}