@use '~/styles/_colors.module.scss' as *;
@use '~/styles/_breakpoints.module.scss' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: $theme-color-1;
}

.container__skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  @media screen and (min-width: $width-mobile-l) {
    align-items: center;
  }
}

.container__skills__title{
  color: $sidebar-text-color;
  font-size: 20px;
}

.container__skills__list {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 8px;

  @media screen and (min-width: $width-mobile-l) {
    grid-template-columns: repeat(4, max-content);
    column-gap: 12px;
    row-gap: 12px;
  }
}

.container__skills__list__item {
  color: $sidebar-text-color;
  font-size: 16px;  
  display: flex;
  align-items: center;
  gap: 10px;
}

.container__skills__list__item__icon * {
  fill: $sidebar-text-color;
}