@use '~/styles/breakpoints.module.scss' as *;

$title-color: #212424;
$text-color: #565858;
$sidebar-text-color: #fff;

$theme-color-1: #212424;
$theme-color-2: #3E7DC7;

$active-color: #589bff;

html {
  font-size: 62.5%;  
  font-family: Inter;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
  
  &:hover *,
  &:focus * {
    color: $active-color;
    fill: $active-color;
  }
  
  &:active {
    opacity: 0.9;
  }
}

.main-text {
  line-height: 26px;
  font-weight: 400;
  font-size: clamp(1.6rem, 0.7vw + 1rem, 2rem);
}

.title-h1 {
  color: $title-color;
  font-size: clamp(2.4rem, 5vw + 1rem, 6.4rem);
}

.title-h2 {
  color: $title-color;
  font-size: clamp(2rem, 3vw + 1rem, 4rem);
}

.title-h3 {
  color: $title-color;
  font-size: clamp(2rem, 2vw + 1rem, 3.2rem);
}

.content-container {
  color: $text-color;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 30px 25px;
  box-shadow: -5px 8px 20px 0px rgba(0, 0, 0, 0.30);
  min-width: 660px;

  &::after {
    content: '';
    width: 12.6rem;
    height: 1.4rem;
    position: absolute;
    right: 0;
    top: 4rem;
    background-color: $theme-color-2;

    @media screen and (max-width: $width-tablet) {
      top: 3.5rem;
    }
  }

  @media screen and (max-width: $width-laptop) {
    min-width: 0;
  }
}