$title-color: #212424;
$text-color: #565858;
$sidebar-text-color: #fff;

$theme-color-1: #212424;
$theme-color-2: #3E7DC7;

.main-text {
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}

.title-h1 {
  color: $title-color;
  font-size: clamp(4rem, 5vw + 1rem, 6.4rem);;
  font-weight: 500;
}

.title-h2 {
  color: $title-color;
  font-size: clamp(2rem, 2vw + 1rem, 3.2rem);;
  font-weight: 500;
}

.title-h3 {
  color: $title-color;
  font-size: clamp(2rem, 3vw + 1rem, 4rem);;
  font-weight: 500;
}