@use '~/styles/_colors.module.scss' as *;

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  color: $sidebar-text-color;
  padding: 25px 35px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $theme-color-2;
  }

  &::-webkit-scrollbar-track-piece:end {
    background-color: rgb(138, 138, 138);
    margin-bottom: 3vh;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background-color: rgb(138, 138, 138);
    margin-top: 3vh;
    border-radius: 100px;
  }
}

.container__category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__category__title {
  font-size: 20px;
  font-weight: 500;
}

.container__category__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__category__content__item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  font-weight: 400;
}

.container__category__content__item__container__icon * {
  fill: $sidebar-text-color;
}

.container__category__content__item__textContainer,
.container__category__content__item__linkContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  font-weight: 400;
}