@use "~/styles/_colors.module.scss" as *;
@use "~/styles/_breakpoints.module.scss" as *;

.container {
  width: 100%;

  h2 {
    color: $sidebar-text-color;
    background-color: $theme-color-1;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    @media screen and (max-width: $width-laptop) {
      margin-bottom: 30px;
    }
  }
}

.projects_list {
  display: grid;
  grid-template-columns: minmax(270px, 1fr);

  row-gap: 60px;

  @media screen and (max-width: $width-laptop) {
    row-gap: 30px;
  }
}

.projectCard {
  filter: drop-shadow(0px 0px 5px #000000);
}

.projectCard__link {
  width: 100%;
  background-color: $theme-color-1;
  border-radius: 10px 10px 0 0;

  img {
    transition: filter 0.4s ease-in;
    width: 100%;
    max-height: 600px;
    border-radius: 10px 10px 0 0;
  }

  &:hover {
    img {
      filter: brightness(1.12);
    }
  }
}

.projectCard__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 8px 15px;
  background-color: $theme-color-1;
  border-radius: 0 0 20px 20px;

  h3 {
    color: #fff;
    font-size: 25px;
  }

  svg * {
    fill: #fff;
  }
}
