@use '~/styles/style.scss' as *;
@use '~/styles/breakpoints.module.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container__project {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container__project__title {
  display: flex;
  align-items: center;
  gap: 18px
}

.container__project__link {
  font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
  color: $text-color;
  
  &:hover , &:focus {
    color: $theme-color-2;
  }
}

.container__project__present {
  display: flex;
  gap: 40px;
  align-items: center;

  @media screen and (max-width: $width-tablet) {
    flex-direction: column-reverse;
    align-items: start;
  }
}

.container__project__present__imgContainer {
  flex-shrink: 0;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: $width-tablet) {
    align-self: center;
    width: 100%;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container__project__present__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  height: 100%;

  li {
    position: relative;
    color: $text-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 25px;

    &::before {
      position: absolute;
      display: block;
      border-radius: 100px;
      content: '';
      width: 10px;
      height: 10px;
      background-color: $theme-color-2;
      fill: $theme-color-2;
      left: 0;
      top: 8px;
    }
  }
}