@use '~/styles/style.scss' as *;
@use '~/styles/breakpoints.module.scss' as *;

.container {
  margin: 0 2%;
  display: grid;
  gap: 2%;
  grid-template-columns: 2fr 5fr;
  grid-template-areas: "sidebar main";

  @media screen and (max-width: $width-laptop ) {
    display: flex;
    justify-content: center;
  }
}