@use '~/styles/style.scss' as *;


.container {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  padding: 0 4%;
  justify-content: center;
  gap: 5%;
  padding-right: 10vw;
  padding-left: 20px;

  @media screen and (max-width: $width-laptop) {
    padding: 0;
  }
}