@use '~/styles/_breakpoints.module.scss' as *;

.container {
  margin: 0 2%;
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "sidebar main .";

  @media screen and (max-width: $width-laptop ) {
    display: flex;
    justify-content: center;
  }
}