@use '../../styles/style.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px 10px;
  background-color: $theme-color-1;
  width: 270px;
  height: 94vh;
  position: sticky;
  top: 3vh;
  border-radius: 20px;
}