@use '~/styles/style.scss' as *;
@use '~/styles/breakpoints.module.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px 10px;
  background-color: $theme-color-1;
  width: 270px;
  max-height: 93vh;
  position: sticky;
  top: 30px;
  border-radius: 20px;
  align-self: flex-start;

  @media screen and (max-width: $width-laptop){
    display: none;
  }
}