@use '~/styles/_colors.module.scss' as *;
@use '~/styles/_breakpoints.module.scss' as *;

.wrapper {
  grid-area: sidebar;
  justify-self: end;

  @media screen and (max-width: $width-laptop){
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px 10px;
  background-color: $theme-color-1;
  width: 100%;
  max-width: 260px;
  max-height: 93dvh;
  position: sticky;
  top: 30px;
  border-radius: 20px;
}